@media(max-width: 992px) {
    .flex-container{
        flex-direction: column;
    }

    .apresentacao{
        flex-direction: column-reverse;
    }

    .saiba-mais{
        width: 100%;
    }

    #quem-somos{
        flex-direction: column-reverse;
    }

    #quem-somos img{
        min-width: 320px;
        margin: auto;
    }

    .lista-servicos{
        flex-direction: column;
    }

    .item-servicos img{
        width: 30%;
        margin: auto;
    }

    .container-planos{
        flex-direction: column;
        align-items: flex-start;
    }

    .container-planos .planos{
        max-width: 90%;
        margin: 10px auto;
        width: 100%;
    }
}